{% extends 'base.html.twig' %}

{% block title %}NOUVEAU MOT DE PASSE{% endblock %}

{% block body %}
    <div class="container shadow rounded p-3 mt-5 w-25">
            <h1 class="h3 mb-3 font-weight-normal">NOUVEAU MOT DE PASSE</h1>
            {{ form_start(reset_password_form) }}
                {{ form_row(reset_password_form.email) }}
                <button class="btn btn-lg btn-primary mt-3" type="submit">
                    ENVOYER
                </button>
            {{ form_end(reset_password_form) }}
    </div>

{% endblock %}
