{% extends 'base.html.twig' %}

{% block title %}NOUVEAU MOT DE PASSE{% endblock %}

{% block body %}
    <h1 class="text-center text-success">Bonhour {{ user.nickname }}</h1>
    <p>Demande de réinitialisation de votre mot de passe !</p>
    <p>Merci d'utilisé le lien suivant :</p>
    <a href="{{ url|raw }}">Réintialisé le mot de passe : {{ url|raw }}</a>
    <p>Merci</p>
{% endblock %}